/* FONTS */
/* font-family: "DM Serif Display", serif; */
/* font-family: "Karla", sans-serif; */

* {
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  resize: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Primary Colors */
  --dark-violet: hsl(256, 26%, 20%);
  --grayish-blue: hsl(216, 30%, 68%);

  /* Neutral Colors */
  --very-dark-violet: hsl(270, 9%, 17%);
  --dark-grayish-violet: hsl(273, 4%, 51%);
  --very-light-gray: hsl(0, 0%, 98%);

  /* FONTS */
  --dmSerif: "DM Serif Display", serif;
  --karla: "Karla", sans-serif;
}

.white-outline-btn {
  color: #fff !important;
  border: 2px solid #fff;
  width: 150px;
  height: 40px;
  background-color: transparent;
  font-family: var(--karla);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
  transition: 0.3s;
}

.white-outline-btn:hover {
  background-color: #fff;
  color: var(--dark-violet) !important;
}

/* NAVBAR */

nav {
  padding: 30px 0px !important;
}

.navbar {
  width: 100%;
  position: relative;
}
.nav-links {
  text-transform: uppercase;
  font-family: var(--karla);
  font-weight: 700;
}
.nav-link-item {
  color: var(--dark-grayish-violet) !important;
  font-size: 0.9rem;
  letter-spacing: 1px;
  transition: 0.3s;
}

.nav-links#desktop-links .nav-link-item:hover {
  color: var(--dark-violet) !important;
}

.nav-links .nav-link-item:last-child {
  color: var(--dark-violet) !important;
  border: 2px solid var(--very-dark-violet);
  width: 150px;
  height: 40px;
}

.nav-links#desktop-links .nav-link-item:last-child:hover {
  background-color: var(--dark-violet);
  color: white !important;
}

/* MOBILE NAVBAR */

.nav-links#mobile-links {
  position: absolute;
  top: 100px;
  width: 100%;
  background: url(/images/bg-pattern-mobile-nav.svg) var(--very-dark-violet)
    no-repeat bottom right;
  background-size: 100% 140px;
  display: flex;
  height: 0;
  transition: height 0.3s;
  overflow: hidden;
}

.nav-links#mobile-links .nav-link-item {
  font-size: 1.2rem !important;
  color: #fff !important;
}

.nav-links#mobile-links .nav-link-item:hover {
  color: var(--dark-grayish-violet) !important;
}

.nav-links#mobile-links .nav-link-item:first-child {
  padding-top: 60px;
}

.nav-links#mobile-links .nav-link-item:last-child {
  border-color: white !important;
  width: 80%;
}

.nav-links#mobile-links .nav-link-item:last-child:hover {
  background-color: white !important;
  color: var(--dark-violet) !important;
}

#collapseBtn {
  background-color: transparent !important;
}

/* HEADER */

header {
  background: url(/images/bg-pattern-intro-right-desktop.svg) no-repeat right
    top;
  background-color: var(--dark-violet);
  color: var(--very-light-gray);
  position: relative;
}

.header-heading {
  font-family: var(--dmSerif);
  font-size: 4.5rem;
}

.header-paragraph {
  font-family: var(--karla);
}

.line {
  width: 165px;
  opacity: 1;
  border: none;

  height: 0.06rem !important;
}

.light-line {
  color: var(--very-light-gray); /* old IE */
  background-color: var(--very-light-gray); /* Modern Browsers */
}

.dark-line {
  color: var(--dark-violet); /* old IE */
  background-color: var(--dark-violet); /* Modern Browsers */
}

.header-image {
  transform: translateY(150px);
  position: relative;
  z-index: 2;
}

#header-overlay {
  background: url(/images/bg-pattern-intro-left-desktop.svg) no-repeat;
  height: 100vh;
  position: absolute;
  top: 550px;
  background-size: 120px;
  width: 120px;
}

/* ABOUT-US SECTION */
.about-us {
  padding: 300px 0 150px 0;
}
.about-heading {
  font-family: var(--dmSerif);
  font-size: 4.5rem;
  color: var(--very-dark-violet);
  padding: 20px 0 50px 0;
}
.about-cards {
}
.justify-content-between {
}
.about-card {
}
.about-icon {
  width: 100px;
}
.card-heading {
  font-family: var(--dmSerif);
  padding: 30px 0 10px 0;
}
.card-paragraph {
  width: 99%;

  font-family: var(--karla);
  color: var(--dark-grayish-violet);
}

/* HOW WE WORK SECTION */

.how-we-work {
  padding: 50px 0;
}

.how-we-work .row {
  background: var(--dark-violet)
    url("/images/bg-pattern-how-we-work-desktop.svg") no-repeat right top;
  padding: 50px 0;
}

#how-we-work-heading {
  color: var(--very-light-gray);
  font-family: var(--dmSerif);
  font-size: 3.7rem;
}

/* CSS Media Queries for Responsive Design */

@media (max-width: 991.98px) {
  #line {
    display: none;
  }

  #header-left {
    padding: 50px 0;
    align-items: center;
    text-align: center;
  }

  .header-heading {
    font-size: 2.8rem;
  }

  .header-paragraph {
    width: 82%;
  }

  .header-image {
    width: 100%;
    transform: none;
  }

  /* ABOUT-US SECTION */

  .about-us {
    padding: 100px 0 150px 0;
  }

  .about-heading {
    text-align: center;
    font-size: 3.5rem;
  }

  .about-card {
    text-align: center;
  }

  /* HOW WE WORK SECTION */

  .how-we-work .row {
    background: var(--dark-violet)
      url("/images/bg-pattern-how-we-work-mobile.svg") no-repeat right top;
  }

  #how-we-work-heading {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1046px !important;
  }
}

/* Extra Small Devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small Devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium Devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large Devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra Large Devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
